#about{
    flex-direction: column;

    h1{
        margin-bottom:29px;
        margin-top: 150px;
    }
}

.aboutContent{
    height: 70%;
    width:100%;
    display:flex;
    align-items: center;
    justify-content: center;

    img, p{
        height: 75%;
    }

    p{
        color: white;
        width: 35%;
        margin-left: 50px;
        line-height: 2.05;
        margin-top: -10px;
    }
}