#about{
    flex-direction: column;

    h1{
        margin-bottom:29px;
        margin-top: 150px;
    }
}

.aboutContent{
    height: 70%;
    width:100%;
    display:flex;
    align-items: center;
    justify-content: center;

    img, p{
        height: 75%;
    }

    p{
        color: white;
        width: 35%;
        margin-left: 50px;
        line-height: 2.05;
        margin-top: -10px;
    }
}

@media screen and (max-width: 990px){
    
    .aboutContent{

        margin-top: -100px;

        img, p{
            height: 60%;
        }

        p{
            font-size: 14px;
        }
    }

}

@media screen and (max-width: 740px){
    .aboutContent{
        flex-direction: column;

        p{
            width: 80%;
            margin-top: 25px;
        }
    }
}