* {
  font-family: "Open Sans", sans-serif;
}

body {
  margin: 0;
  box-sizing: border-box;
}

html, body, form {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

h1, h2, h3, h4, h5, h6, p {
  margin-bottom: 0;
}

form {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
}

nav {
  height: 100px;
  width: 100%;
  background-color: #CFC2F2;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  z-index: 10;
}

nav a img {
  height: 75%;
  margin-left: 25px;
}

.logo {
  height: 100%;
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.links {
  width: 60%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 25px;
}

.links a {
  color: black;
  font-weight: 700;
  text-decoration: none;
  font-size: 22px;
  background-color: #CFC2F2;
  background: linear-gradient(to left, #CFC2F2 50%, #724ae0 50%) right;
  background-size: 205%;
  transition: 0.25s ease-out;
}

.links a:not(.githubLink) {
  padding: 5px;
}

.links a:hover {
  background-position: left;
  color: white;
}

.githubLink {
  height: 100%;
  display: flex;
  align-items: center;
}

.links a svg {
  height: 50%;
  color: black;
  font-weight: normal;
}

.githubLink svg:hover {
  color: white !important;
}

.arrow {
  height: 100px;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: sticky;
}

.line, .widgetLine {
  width: 100px;
  height: 4px;
  background-color: black;
  transition: 2s color;
}

.widgetLine {
  background-color: white;
}

.widgetArrow {
  height: 100px;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.right {
  transform: rotate(-45deg);
  margin-left: -10px;
}

.widgetLine.left {
  transform: rotate(-45deg);
}

.widgetLine.right {
  transform: rotate(45deg);
}

.left {
  transform: rotate(45deg);
  margin-right: -10px;
}

.arrow.shadow .line {
  background-color: white;
  transition: 2s color;
}

.arrow.shadow, .widgetArrow.shadow {
  background-color: transparent;
  margin-top: -94px;
}

.arrowBox {
  z-index: 9;
}

.arrowBox:hover .line {
  background-color: #724ae0;
  transition: 2s color;
}
.arrowBox:hover .arrow.shadow .line {
  background-color: black;
  transition: 2s color;
}

.widget {
  height: 100px;
  width: 100px;
  background-color: #CFC2F2;
  position: fixed;
  right: 0;
  bottom: 0;
}

.widgetArrow.shadow .widgetLine {
  background-color: black;
}

.widgetBox:hover .widgetLine {
  background-color: black;
  transition: 2s color;
}
.widgetBox:hover .widgetArrow.shadow .widgetLine {
  background-color: #724ae0;
  transition: 2s color;
}

#hero {
  flex-direction: column;
  overflow: hidden;
  justify-content: space-between;
}

h1 {
  color: white;
  font-size: 42px;
}

.heroHeader {
  margin-top: 300px;
}

h2 {
  color: white;
  font-size: 30px;
  font-weight: 300;
  margin-top: -200px;
}

.arrowBox {
  margin-bottom: 25px;
}

.section {
  height: 100%;
  width: 100%;
  background: linear-gradient(to right, #9C6EF2, #260C5A);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}

#about {
  flex-direction: column;
}
#about h1 {
  margin-bottom: 29px;
  margin-top: 150px;
}

.aboutContent {
  height: 70%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.aboutContent img, .aboutContent p {
  height: 75%;
}
.aboutContent p {
  color: white;
  width: 35%;
  margin-left: 50px;
  line-height: 2.05;
  margin-top: -10px;
}

#experience {
  flex-direction: column;
}
#experience h1 {
  margin-top: 100px;
}

.experienceContent {
  height: 75%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.expImgs {
  height: 100%;
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}

.wunderkind {
  height: 200px;
  margin-left: -250px;
}

.iupui {
  height: 125px;
  margin-left: 110px;
}

.experienceContent p {
  height: 75%;
  width: 40%;
  color: white;
  margin-left: 50px;
}
.experienceContent p a {
  color: violet;
}
.experienceContent p a:hover {
  color: #260C5A;
}

#projects {
  flex-direction: column;
  height: auto;
  padding-bottom: 15px;
}
#projects h1 {
  margin-top: 115px;
}

.projectLine {
  height: 2px;
  width: 350px;
  background-color: white;
  margin-top: 8px;
}

.projectContainer {
  min-height: 75%;
  width: 85%;
  margin-top: 10px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.projectBox {
  height: 350px;
  width: 250px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin: 22px;
}
.projectBox h3 {
  color: white;
  margin-bottom: 10px;
}
.projectBox img {
  height: 50%;
  width: 100%;
  object-fit: cover;
}
.projectBox p {
  color: white;
  font-size: 14px;
  text-align: left;
  width: 100%;
  margin-top: 10px;
}

/*# sourceMappingURL=styles.css.map */
